<div class='fizzbuzz'>

  <% if fizzbuzz.favourite %>
    <%= link_to favourite_url(number: fizzbuzz.number), method: :delete, remote: true do %>
      <div class="favourite"><%= fizzbuzz.number %>: <%= fizzbuzz.output %></div>
    <% end %>

  <% else %>
    <%= link_to favourites_url(number: fizzbuzz.number), method: :post, remote: true do %>
      <div><%= fizzbuzz.number %>: <%= fizzbuzz.output %></div>
    <% end %>

  <% end %>

</div>
